dotnet/TestCommon/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 ====================
 DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS HEADER.

 Copyright 2008-2009 Sun Microsystems, Inc. All rights reserved.

 The contents of this file are subject to the terms of the Common Development
 and Distribution License("CDDL") (the "License").  You may not use this file
 except in compliance with the License.

 You can obtain a copy of the License at
 http://IdentityConnectors.dev.java.net/legal/license.txt
 See the License for the specific language governing permissions and limitations
 under the License.

 When distributing the Covered Code, include this CDDL Header Notice in each file
 and include the License file at identityconnectors/legal/license.txt.
 If applicable, add the following below this CDDL Header, with the fields
 enclosed by brackets [] replaced by your own identifying information:
 "Portions Copyrighted [year] [name of copyright owner]"
 ====================
-->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="config">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="property">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>

